<html>
1. [개념] 가상클래스의 개념을 정리하고 크게 분류하여 3가지에 대하여 기본 예제를 통해서 기술하세요.

가상 클래스(Pseudo-class)는 html 요소가 특정한 상태에 있을 때만 스타일을 적용한다.
크게 사용자 동작, 링크 상태, 구조적 위치의 상태가 있다.
ex) h1:hover{font-size:100px; color:orange;} --사용자 동작 중에서도 :hover를 사용 한 것

2. [실습] p태그를 :hover, :active를 정의하여 글자 색상과 배경색상을 변경하여 출력되게 하세요.

p:hover{color:red; background-color:black;}
p:active{color:yellow; background-color:green;}

3. [실습] a href를 통해서 링크된 초기색상(orange), 링크 클릭시 색상(blue), 링크 이후 색상(green)으로 처리하여 화면에 출력하세요.

a:link{color:orange;}
a:active{color:blue;}
a:visited{color:green;}

4. [개념] 구조관련 태그의 설정하는 형제개념을 기술하고, 여러가지 선택자 형식을 기본예제를 통해서 설명하세요.

구조적 가상 클래스는 css가 html의 가족 관계와 순서를 보고 스타일을 적용하는 것이다.
   1. 첫째만 처리 - h2:first-child{color:orange;}
   2. 막내만 처리 - h2:last-child{color:red;}
   3. 짝수번째만 처리 - h2:nth-child(even){color:green;}
   4. 2번째만 처리 - h2:nth-child(2){color:blue;}

5. [실습] h5의 1번째와 3번째 태그의 배경색상과 글자 색상을 설정하세요.

h5:first-child{background-color:black; color:white;}
h5:nth-child(3){background-color:blue; color:yellow;}

6. [실습] h6의 짝수번째 배경색상을 노랑색으로 처리하여 출력하세요.

h6:nth-child(even){background-color:yellow;}

7. [실습] 테이블에 아래와 같은 css 설정 처리
   1) 짝수행 배경색상 노랑색
    tr:nth-child(even){background-color:yellow;}
   2) 홀수행 배경색상 orange
    tr:nth-child(odd){background-color:orange;}
   3) 행단위로 커서 위치했을 때, 글자 크기 25px로 커지게 설정
    tr:hover{font-size:25px;}
   4) 특정한 td 클릭하고 있을시, 글자색/배경색 변경 처리.
    td:active{color:yellow; background-color:green;}
<database>
1. [개념] 시퀀스란 무엇인가? 기본 시퀀스를 만들고, 기능이 쓰이는 곳을 설명하세요.

시퀀스는 자동으로 순서가 있는 번호를 생성하는 객체다. 새 직원 추가 시 자동으로 사원번호 부여 등에 유용하게 쓸 수 있다.
CREATE SEQUENCE SEQ01; 

2. [실습] seq001이라는 시퀀스를 초기값 1000부터 시작하여 2개씩 증가하게 처리하고, 실습예제를 통해서 확인하세요.

CREATE SEQUENCE seq001
START WITH 1000     
INCREMENT BY 2;     

3. [실습] emp12 테이블로 복사테이블로 만들고 현재 empno의 최대값을 emp_seq01로 초기값을 설정하고, empno만 일단 입력해보세요

CREATE TABLE EMP12
AS
SELECT * FROM EMP;

CREATE SEQUENCE EMP_SEQ01
START WITH 7935     
INCREMENT BY 1;

INSERT INTO EMP12 (EMPNO)
VALUES (EMP_SEQ01.NEXTVAL);

4. [개념] UNION, UNION ALL, INTERSECT, MINUS의 개념을 간단한 예제와 함께 설명하고, JOIN과의 궁극적인 차이점을 기술하세요

집합 연산자는 두 개 이상의 SELECT문 결과를 하나로 합치거나 비교할 때 사용한다.
JOIN은 수평의 결과를 결합 하는 반면, 집합 연산자는 수직의 결과를 결합한다.

UNION(중복 제거)
SELECT DEPTNO FROM EMP
UNION
SELECT DEPTNO FROM DEPT;

UNION ALL(중복 포함)
SELECT DEPTNO FROM EMP
UNION ALL
SELECT DEPTNO FROM DEPT;

INTERSECT(교집합)
SELECT DEPTNO FROM EMP
INTERSECT
SELECT DEPTNO FROM DEPT;

MINUS(차집합)
SELECT DEPTNO FROM EMP
MINUS
SELECT DEPTNO FROM DEPT;

5. [실습] 
**[데이터 준비]**
`employees` (재직자) 테이블과 `candidate` (신규 지원자) 테이블이 있습니다.

CREATE TABLE employee (
  emp_id NUMBER,
  emp_name VARCHAR2(50),
  department VARCHAR2(30)
);

CREATE TABLE candidate (
  cand_id NUMBER,
  cand_name VARCHAR2(50),
  applied_dept VARCHAR2(30)
);

-- 재직자 데이터
INSERT INTO employee VALUES (101, '김개발', 'IT');
INSERT INTO employee VALUES (102, '박기획', 'Planning');
INSERT INTO employee VALUES (103, '이영업', 'Sales');

-- 지원자 데이터
INSERT INTO candidate VALUES (901, '나신입', 'IT');
INSERT INTO candidate VALUES (902, '오경력', 'Sales');
INSERT INTO candidate VALUES (903, '박기획', 'IT'); -- '박기획'은 재직 중인데 IT 부서로 또 지원함
COMMIT;
```
**문제 1)**
우리 회사와 관련 있는 모든 사람(재직자 및 지원자)의 **이름**을 **중복 없이** 모두 나열하세요. (정렬은 이름 오름차순으로)

SELECT emp_name AS name FROM employee
UNION
SELECT cand_name AS name FROM candidate
ORDER BY name;

**문제 2)**
현재 **재직 중**이면서, 동시에 이번 채용에 **지원도 한** 사람의 **이름**을 찾아주세요.

SELECT emp_name AS name FROM employee
INTERSECT
SELECT cand_name AS name FROM candidate;

**문제 3)**
현재 **재직 중**이지만, 이번 채용에는 지원하지 **않은** '순수 재직자'의 **이름**과 **부서**를 찾아주세요.

SELECT emp_name, department FROM employee
MINUS
SELECT cand_name, applied_dept FROM candidate;

6. [개념] 제약조건의 종류를 기술하세요

  1) PRIMARY KEY(PK) : 기본 키
  2) NOT NULL(NN) : 필수 입력
  3) CHECK(CK) : 유일성 
  4) FOREIGN KEY(FK) : 외래 키(참조)