<html>
1. [개념] 테이블의 각 열별 폭을 지정하는 옵션을 기본예제와 할께 설정해주세요
colspan을 사용하여 열단위를 확장 시킬 수 있다.
ex) <col width="70%">

2. [실습] oracle sql의 SELECT EMPNO, ENAME, JOB, SAL, DEPNO FROM EMP를 확인하여, 위 적절한 간격을 설정하여 중앙 정렬 타이틀로
    HTML의 테이블을 만드세요.
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2 align="center">EMP 테이블 조회</h2>
<table border="1" width="80%" align="center">
    <thead>
        <tr>
            <th>EMPNO</th>
            <th>ENAME</th>
            <th>JOB</th>
            <th>SAL</th>
            <th>DEPNO</th>
        </tr>
    </thead>
</table>

</body>
</html>

1. [실습] 실무형 게시판 테이블 만들기
   판타지 길드 의뢰 게시판 만들기 📜
   당신은 길드 마스터입니다. 모험가들을 위해 길드 게시판에 HTML로 새로운 의뢰 목록을 만들어야 합니다. 아래의 설명만을 듣고 완벽한 의뢰 게시판 테이블을 코드로 구현해 보세요.
   요구사항:
   1.  테이블은 `<thead>`, `<tbody>`, `<tfoot>` 세 부분으로 명확히 나누어져야 합니다.
   2.  게시판의 열(세로줄)은 순서대로 '등급', '의뢰명', '장소', '보상' 네 가지로 구성됩니다. `<colgroup>`을 사용하여 각 열의 너비를 각각 80px, , 150px, 120px로 설정하세요. (''는 남은 공간을 모두 사용함을 의미합니다.)
   3.  `<tbody>`에 들어갈 내용은 아래와 같습니다.
         * 첫 번째 의뢰: '등급'은 'C', '의뢰명'은 '약초 채집', '장소'는 '요정의 숲', '보상'은 '50 Gold'입니다.
         * 긴급 의뢰: 다음 행에는 긴급 의뢰를 추가합니다. '등급'은 'A'입니다. '의뢰명'은 '긴급! 고블린 무리 토벌'인데, 이 내용은 너무 길어서 '의뢰명'과 '장소' 두 칸을 하나로 합쳐(`colspan`) 표시해야 합니다. '보상'은 '300 Gold'입니다.
         * 전설급 의뢰: 마지막으로 전설급 의뢰를 추가합니다. 이 의뢰는 매우 중요하여 두 개의 행을 차지합니다. '등급' 셀에 'S' 라고 적고 두 줄을 차지하도록(`rowspan`) 만드세요.
        * S등급 의뢰의 첫 줄: '의뢰명'은 '용의 둥지 정찰 (1)', '장소'는 '화산 동굴 입구', '보상'은 '500 Gold'입니다.
        * S등급 의뢰의 둘째 줄: '의뢰명'은 '용의 둥지 정찰 (2)', '장소'는 '화산 내부', '보상'은 '1000 Gold'입니다. (이 줄에는 '등급' 칸이 없어야 합니다.)
   4.  `<tfoot>`을 사용하여 테이블의 가장 아랫부분에 한 줄의 안내 문구를 추가하세요. 첫 번째 칸에는 '안내' 라고 적고, 나머지 세 칸을 모두 합쳐(`colspan`) "모든 의뢰는 2인 이상 파티를 권장합니다." 라고 표시하세요.
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2 align="center">판타지 길드 의뢰 게시판</h2>
<table border="1" width="80%" align="center">
    <thead>
        <tr>
            <th>등급</th>
            <th>의뢰명</th>
            <th>장소</th>
            <th>보상</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>C</td>
            <td>약초 채집</td>
            <td>요정의 숲</td>
            <td>50 Gold</td>
        </tr>
        <tr>
            <td>A</td>
            <td colspan="2">긴급! 고블린 무리 토벌</td>
            <td>300 Gold</td>
        </tr>
        <tr>
            <td rowspan="2">S</td>
            <td>용의 둥지 정찰 (1)</td>
            <td>화산 동굴 입구</td>
            <td>500 Gold</td>
        </tr>
        <tr>
            <td>용의 둥지 정찰 (2)</td>
            <td>화산 내부</td>
            <td>1000 Gold</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td>안내</td>
            <td colspan="3">모든 의뢰는 2인 이상 파티를 권장합니다.</td>
        </tr>
    </tfoot>
</table>
</body>
</html>

<database>
1.  [개념] DML이 무엇인지를 기술하고, UPDATE와 DELETE의 기본형식을 설명하세요.
데이터베이스의 테이블에서 데이터를 등록, 수정하거나 삭제할 때 사용하는 SQL 명령을 DML이라고 한다.
UPDATE: 
    UPDATE 테이블명
        SET 변경할 컬럼 = 새로운 값
    WHERE 변경할 데이터 조건
DELETE : 
    DELETE 
    FROM 테이블명
    WHERE 삭제할 데이터 조건

2. [실습] POWER가 8000 미만인 히어로들이 특별 훈련을 통해 잠재력을 끌어올렸습니다\! 이들의 POWER를 일괄적으로 1000씩 올려주세요.
UPDATE HERO_LIST
SET POWER = POWER + 1000
WHERE POWER < 8000;
   
3. [실습] 블랙팬서의 귀환
   와칸다의 왕 블랙팬서(Black Panther)가 잠시 자리를 비운 사이 동생 슈리가 왕국을 잘 다스렸습니다. 이에 감동한 블랙팬서는 POWER를 8000으로 조정하고, 활동 도시(CITY)를 '와칸다'에서 '슈리 왕국'으로 변경하여 동생에게 경의를 표하기로 했습니다. 이 내용을 테이블에 반영하세요.
UPDATE HERO_LIST
SET POWER = 8000,
    CITY  = '슈리 왕국'
WHERE HERO_NAME = '블랙팬서';

4. [실습]  뉴욕 히어로들의 이주
   뉴욕에 너무 많은 히어로들이 몰려 시민들의 불만이 커졌습니다. 결국, 정부는 도시(CITY)가 '뉴욕'인 모든 히어로들을 새로운 도시인 '히어로 시티'로 강제 이주시키는 법안을 통과시켰습니다. 뉴욕에 거주하는 모든 히어로의 CITY를 '히어로 시티'로 일괄 변경하세요.
UPDATE HERO_LIST
SET CITY = '히어로 시티'
WHERE CITY = '뉴욕';

5. [실습]  최상위권 히어로들의 각성
   POWER 수치가 9000 이상인 최상위권 히어로들이 한계를 돌파하여 각성했습니다! 이들의 POWER를 기존 수치에서 10% 더 상승시켜 주세요. (예: 9000 -> 9900)
UPDATE HERO_LIST
SET POWER = POWER * 1.10
WHERE POWER >= 9000;

6. [실습] 그린랜턴의 계약 만료
   그린랜턴(Green Lantern)이 우주 수호 임무에 집중하기 위해 지구 히어로 연합에서 탈퇴했습니다. HERO_LIST에서 그의 데이터를 완전히 삭제하세요.
DELETE FROM HERO_LIST
WHERE HERO_NAME = '그린랜턴';

7. [실습]  '맨' 자 돌림 히어로들의 비밀 회동
   이름이 '맨'으로 끝나는 히어로들('슈퍼맨', '배트맨', '아이언맨', '스파이더맨')이 비밀 회동을 위해 활동 도시(CITY)를 일시적으로 '비밀 아지트'로 변경하기로 했습니다. 단, 대장 격인 '슈퍼맨'은 제외하고 나머지 '맨'들만 이동합니다. 이 조건을 만족하는 히어로들의 CITY를 변경하는 SQL을 작성하세요.
UPDATE HERO_LIST
SET CITY = '비밀 아지트'
WHERE HERO_NAME LIKE '%맨'
  AND HERO_NAME <> '슈퍼맨';

8. [개념] 오라클에서 트랜잭션이란 무엇이며, 트랜잭션 처리를 위한 핵심명령어 3개와 그 기능에 대하여 기본예제로 설명하세요.
데이터베이스 작업을 처리하는 하나의 논리적 단위를 트랜잭션이라고 한다.
핵심명령어에는 COMMIT, ROLLBACK, SAVEPOINT가 있다.
커밋은 변경된 내용을 영구적으로 DB에 저장하는 명령어이고, ROLLBACK은 작업을 취소하고 싶을 때 가장 마지막에 커밋된
지정으로 돌아가는거, SAVEPOINT는 중간 저장 지점을 만들어서 롤백했을 때 해당 SAVEPOINT로 돌아갈 수 있다.
EX)
SELECT * FROM HERO_LIST;
UPDATE HERO_LIST
    SET POWER = 0
WHERE HERO_NAME = '아이언맨';
ROLLBACK;
-- SAVEPOINT : 임시 저장 지점 설정
SAVEPOINT IRONMAN_RETIRED;
DELETE FROM HERO_LIST;
--모든 데이터 삭제
SELECT * FROM HERO_LIST;
ROLLBACK TO IRONMAN_RETIRED;
COMMIT;

9.  [실습] : 실수로 인한 능력치 변경 되돌리기 🦸‍♂️

   시나리오: 영웅들의 능력치를 조정하던 중, 실수로 '헐크'의 POWER를 10으로 대폭 감소시켰습니다. 이 변경 사항만 취소하고 원래대로 되돌려야 합니다.

   요구사항:
   1.  '헐크'의 `POWER`를 10으로 `UPDATE` 하세요.
   2.  `SELECT` 문으로 변경된 '헐크'의 데이터를 확인하세요.
   3.  실수를 깨닫고, 방금 전의 `UPDATE` 작업을 `ROLLBACK`하여 취소하세요.
   4.  다시 `SELECT` 문으로 '헐크'의 `POWER`가 원래 값으로 돌아왔는지 최종 확인하세요.
UPDATE HERO_LIST
SET POWER = 10
WHERE HERO_NAME = '헐크';

SELECT HERO_NAME, POWER, CITY
FROM HERO_LIST
WHERE HERO_NAME = '헐크'=;

ROLLBACK;

SELECT HERO_NAME, POWER, CITY
FROM HERO_LIST
WHERE HERO_NAME ='헐크';


1.   [실습]: 부분적인 작업만 저장하기 (SAVEPOINT) 🎖️
   시나리오: '시빌 워' 이벤트가 끝난 후 데이터베이스를 업데이트해야 합니다. '캡틴 아메리카'의 `POWER`를 80으로 줄인 후, 스토리상 '아이언맨'을 명단에서 `DELETE` 했습니다. 하지만 '아이언맨' 삭제는 잘못된 결정이었고, '캡틴 아메리카'의 능력치 변경은 그대로 유지해야 합니다.
   요구사항:
   1.  '캡틴 아메리카'의 `POWER`를 80으로 `UPDATE` 하세요.
   2.  현재까지의 작업을 `CIVIL_WAR_UPDATE` 라는 이름의 `SAVEPOINT`로 임시 저장하세요.
   3.  '아이언맨'을 `HERO_LIST` 테이블에서 `DELETE` 하세요.
   4.  '아이언맨'이 삭제된 것을 확인하세요.
   5.  '아이언맨' 삭제를 취소하기 위해 `CIVIL_WAR_UPDATE` 시점으로 `ROLLBACK` 하세요.
   6.  `COMMIT` 하여 '캡틴 아메리카'의 능력치 변경만 최종적으로 데이터베이스에 저장하세요.
   7.  마지막으로 `HERO_LIST` 테이블 전체를 조회하여 결과를 확인하세요.

UPDATE HERO_LIST
SET POWER = 80
WHERE HERO_NAME ='캡틴 아메리카';

SAVEPOINT CIVIL_WAR_UPDATE;

DELETE FROM HERO_LIST
WHERE HERO_NAME = '아이언맨';

SELECT HERO_NAME FROM HERO_LIST WHERE HERO_NAME = '아이언맨';

ROLLBACK TO CIVIL_WAR_UPDATE;
COMMIT;

SELECT * FROM HERO_LIST;


1.  [실습]: 모든 데이터를 삭제한 후 복구하기 🫰
   시나리오: 실수로 `WHERE` 절을 빠뜨린 채 `DELETE` 문을 실행하여 모든 영웅 데이터를 삭제해 버렸습니다. 이 작업이 영구 저장되기 전에 모든 데이터를 되살려야 합니다.
   요구사항:
   1.  `WHERE` 절 없이 `HERO_LIST` 테이블의 모든 데이터를 `DELETE` 하세요.
   2.  `SELECT` 문으로 테이블이 비어 있는지 확인하세요.
   3.  `ROLLBACK`을 실행하여 모든 영웅 데이터를 복구하세요.
   4.  다시 `SELECT` 문으로 테이블의 모든 데이터가 완벽하게 복구되었는지 확인하세요.

DELETE FROM HERO_LIST;
SELECT * FROM HERO_LIST;  
ROLLBACK;
SELECT * FROM HERO_LIST;