Good morning QUIZ!! 좋은 하루 시작하시길~~ ^^

## ✏️ 4지선다 객관식 문제 (20문제)

### **HTML (1\~10번)**

**1. HTML에서 드롭다운 목록(콤보박스)을 만드는 가장 기본적인 태그는 무엇인가요?**<br>
① `<list>`<br>
② `<dropdown>`<br>
<u>③ `<select>`</u><br>
④ `<option>`

**2. 폼(`form`)을 통해 선택된 값을 서버로 전송할 때, 데이터의 이름(key)을 지정하는 `<select>` 태그의 속성은 무엇인가요?**<br>
① `id`<br>
<u>② `name`</u><br>
③ `value`<br>
④ `key`

**3. `<select>` 태그에서 `Ctrl` 키를 이용해 여러 항목을 동시에 선택할 수 있게 하는 속성은 무엇인가요?**<br>
① `multiselect`<br>
② `multi`<br>
<u>③ `multiple="multiple"`</u><br>
④ `selectable`

**4. 여러 항목을 선택(`multiple`)한 후 폼을 전송했을 때, JSP에서 이 값들을 배열 형태로 받기 위해 사용하는 EL 표현식은 무엇인가요?**<br>
① `${param.data}`<br>
② `${params.data[0]}`<br>
<u>③ `${paramValues.data[0]}`</u><br>
④ `${value.data}`

**5. 드롭다운 목록의 항목(`option`)들을 '한식', '양식'처럼 논리적인 그룹으로 묶어주는 태그는 무엇인가요?**<br>
① `<group>`<br>
<u>② `<optgroup>`</u><br>
③ `<optionlist>`<br>
④ `<labelgroup>`

**6. `<optgroup>` 태그에서 그룹의 제목을 표시하기 위해 사용하는 속성은 무엇인가요?**<br>
① `title`<br>
② `name`<br>
③ `value`<br>
<u>④ `label`</u>

**7. 화면에는 '비빔밥'으로 보이지만, 선택 시 서버에는 'bibimbap'이라는 데이터를 전송하고 싶을 때 `<option>` 태그에 사용하는 속성은 무엇인가요?**<br>
① `data`<br>
② `name`<br>
<u>③ `value`</u><br>
④ `send`

**8. 페이지가 처음 로딩될 때 특정 항목이 기본적으로 선택되어 있도록 지정하는 속성은 무엇인가요?**<br>
① `default`<br>
② `checked`<br>
③ `autoselect`<br>
<u>④ `selected`</u>

**9. 사용자가 직접 색상을 선택할 수 있는 컬러 피커(Color Picker)를 만들기 위한 `input` 태그의 `type`은 무엇인가요?**<br>
<u>① `color`</u><br>
② `picker`<br>
③ `rgb`<br>
④ `palette`

**10. 다중 선택(`multiple`)이 활성화된 `select` 박스에서, 처음에 보이는 항목의 개수를 3개로 지정하고 싶을 때 사용하는 속성은 무엇인가요?**<br>
① `rows="3"`<br>
② `count="3"`<br>
<u>③ `size="3"`</u><br>
④ `length="3"`

-----

### **Oracle SQL (11\~20번)**

**11. 숫자 95를 총 5자리 문자열로 만들면서, 왼쪽의 빈 공간을 '0'으로 채워 '00095'를 만들 때 가장 적합한 함수는 무엇인가요?**<br>
① `RPAD(95, 5, '0')`<br>
<u>② `LPAD(95, 5, '0')`</u><br>
③ `FILL(95, 5, '0')`<br>
④ `LTRIM(95, 5, '0')`

**12. 문자열 '데이터'의 오른쪽에 '*'를 추가하여 총 10자리의 문자열 '데이터*\*\*\*\*\*\*'를 만들 때 사용하는 함수는 무엇인가요?**<br>
① `LPAD('데이터', 10, '*')`<br>
<u>② `RPAD('데이터', 10, '*')`</u><br>
③ `RTRIM('데이터', 10, '*')`<br>
④ `ADD_CHAR('데이터', 10, '*')`

**13. 다음 중 `LTRIM('!!HELLO', '!')` 함수의 실행 결과로 올바른 것은 무엇인가요?**<br>
① `!!HELLO`<br>
<u>② `HELLO`</u><br>
③ `!!HELLO!`<br>
④ `HELLO!`

**14. `TRIM` 함수를 아무런 옵션 없이 `TRIM('  TEST  ')` 와 같이 사용했을 때, 어떤 문자를 제거하나요?**<br>
① `T`<br>
<u>② `     ` (공백)</u><br>
③ `S`<br>
④ 제거하지 않음

**15. `'###데이터###'` 라는 문자열에서 양쪽의 '\#' 기호를 모두 제거하기 위한 올바른 `TRIM` 구문은 무엇인가요?**<br>
① `TRIM('###데이터###', '#')`<br>
② `TRIM(BOTH '#' IN '###데이터###')`<br>
<u>③ `TRIM('#' FROM '###데이터###')`</u><br>
④ `TRIM('###데이터###')`

**16. 현재 날짜(`SYSDATE`)를 '2025-10-13'과 같은 'YYYY-MM-DD' 형식의 문자열로 변환하는 함수는 무엇인가요?**<br>
① `TO_DATE(SYSDATE, 'YYYY-MM-DD')`<br>
<u>② `TO_CHAR(SYSDATE, 'YYYY-MM-DD')`</u><br>
③ `CONVERT(SYSDATE, 'YYYY-MM-DD')`<br>
④ `FORMAT(SYSDATE, 'YYYY-MM-DD')`

**17. `TO_CHAR` 함수를 사용하여 숫자 5000000을 `5,000,000`처럼 천 단위 콤마(,)가 포함된 문자열로 변환할 때 사용하는 포맷 코드는 무엇인가요?**<br>
<u>① `'9,999,999'`</u><br>
② `'#######'`<br>
③ `'9D999D999'`<br>
④ `'0,000,000'`

**18. 문자열 `'1,500'`을 실제 계산이 가능한 숫자 1500으로 변환하기 위해 사용하는 함수는 무엇인가요?**<br>
① `TO_CHAR`<br>
② `TO_DATE`<br>
<u>③ `TO_NUMBER`</u><br>
④ `CONVERT_INT`

**19. `LPAD` 함수의 세 가지 인자(파라미터)가 순서대로 올바르게 나열된 것은 무엇인가요?**<br>
① (채울 문자, 대상 문자열, 최종 길이)<br>
② (최종 길이, 대상 문자열, 채울 문자)<br>
<u>③ (대상 문자열, 최종 길이, 채울 문자)</u><br>
④ (대상 문자열, 채울 문자, 최종 길이)

**20. 문자열 `'2025/12/25'`를 실제 날짜 데이터 타입으로 변환하여 날짜 계산(예: D-Day)을 가능하게 하는 함수는 무엇인가요?**<br>
<u>① `TO_DATE`</u><br>
② `TO_CHAR`<br>
③ `IS_DATE`<br>
④ `TO_NUMBER`

-----

## ✍️ 주관식 단답형 문제 (5문제)

**21. HTML에서 '과목'을 선택하는 다중 선택(`multiple`) 콤보박스를 만들되, 처음 화면에 4개의 항목이 보이도록 `<select>` 태그를 작성하세요. (name은 'subject'로 지정)**<br>
<select multiple="multiple" size="4">

**22. HTML에서 `<optgroup>`을 사용하여 '음료'라는 그룹명 아래에 '콜라'와 '사이다' 옵션을 만드는 코드를 작성하세요. ('콜라'를 선택하면 서버에는 'coke'가 전송되도록 하세요.)**<br>
<select>
    <optgroup label="음료">
        <option>콜라</option>
        <option>사이다</option>
    </optgroup>
</select>
**23. Oracle SQL에서 숫자 `45`를 총 4자리 문자열로 만들고, 왼쪽의 빈 공간을 `0`으로 채우는 `LPAD` 함수를 완성하세요.**<br>
`SELECT LPAD('45',4,'0') FROM DUAL;`<br>

**24. Oracle SQL에서 `'$$MyData$$'` 라는 문자열의 양쪽에 있는 `$` 기호를 모두 제거하는 `TRIM` 함수 구문을 완성하세요.**<br>
`SELECT TRIM('$'FROM '$$MyData$$') FROM DUAL;`<br>

**25. Oracle SQL에서 현재 날짜와 시간(`SYSDATE`)을 `'2025년 10월 13일 월요일'` 형식의 문자열로 출력하는 `TO_CHAR` 로 만드세요<br>
`SELECT TO_CHAR(SYSDATE, 'YYYY"년" MM"월" DD"일" DAY') FROM DUAL;`